*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}
/*TUTTO QUELLO CHE RIGUARDA IL CONTAINER*/
.container {
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 940px;/*--TUTTI I CONTAINER IN GRANDEZZA TABLET IN SU*/
    }
}    

div.container{
    gap: 1.5rem; /*----------------------ATTENZIONE AL GAP*/
}
/*----------------------fine container*/

section{
    padding: 2.5rem 0;
}

/*----------------items e cells*/
.cells{
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    /*da cancellare sotto*/
}

.items{
    width: 100%;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 2rem;
    /*da cancellare sotto*/
    background-color: yellow;
}
/*----------------------------*/

.flex{
    display: flex;
}

.flex-bet{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
}

span{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

i{
    font-size: 4rem;
}

.botton{
    border-radius: 2rem;
    padding: .3rem .7rem;
}

.botton, .botton i{
    font-size: .9rem;
}

h4{
    font-size: 1.2rem;
}

h3{
    font-size: 1.5rem;
}

h2{
    font-size: 2.4rem;
}

h1{
    font-size: 3.5rem;
}

/*header*/

header{
    background-color: #0084fd;
    color: white;
}

nav a{
    color: white;
}

nav>ul{
    padding: .8rem 0;
    align-items: center;
}

header li, header i{
    font-size: .9rem;
}

nav img{
    width: 78%;
}

header .botton{
    color: black;
}

header ul:last-child li + li{
        display: none;
}

@media screen and (min-width: 768px){

    header ul:last-child li{
        padding-left: 1.5rem;
    }

    header ul:last-child li:first-child{
        display: none;
    }

    header ul:last-child li + li{
        display: flex;
    }
}

/*SECTION APP STORE*/

.app-store .cells{
    background-color: #B5DDFF;
}

.app-store .botton{
    width: 60%;
}

.app-store .botton{
    text-align: center;
    letter-spacing: .1rem;
    font-weight: bold;
    color: white;
}

.app-store .cells:first-child{
    padding: 0;
}

.app-store .cells>div:first-child{
    padding: 1rem;
}

.app-store .cells>div:last-child{
    position: relative;
    padding: 0;
}

.app-store img{
    width: 60%;/*---------------------------dim immagine*/
    vertical-align: bottom;
}

.app-store .cells{
    text-align: center;
}

.app-store .cell-big>div:first-child{
    text-align: left;
}



@media screen and (min-width:480px) {
    .cells{
        width: calc(100%/3 - 1.5rem); /*ATTENZIONE AL GAP*/
    }

    .cell-big{
    width: calc( (100% / 3) * 2);
    }

    .app-store .cell-big > div:last-child{
        text-align: left;
    }
}

@media screen and (min-width:768px){
    .app-store .cells > div{
        width: calc(100%/2);
    }

    .app-store .cell-big > div:last-child{
        text-align: center;
    }

    .app-store img{
        position: absolute;
        bottom: 0;
        left: 50%;
        translate:calc(-50%);
    }

}

/*SECTION STRATEGIC PLANNING*/

.planning{
    background-color: #9592e5;
    color: white;
}

.planning .container{
    max-width: 750px;
}

.planning .col{
    width: 100%;
}

.planning img{
    width: 90%;/*---------------------------dim immagine*/
}

.planning>.container>.col:last-child{
    text-align: center;
    color: black;
    border-radius: 2rem;
}

.planning>.container>.col:last-child>img{/*---dim immagine*/
    width: 100%;
}

.planning .col{
    position: relative;
}

.freccia{
    width: 2rem;
    height: 2rem;
    border-radius:50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /*non va*/
    font-size: 1.1rem;
    padding-top: .2rem;
}

@media screen and (min-width:768px){
    .planning .container{
        flex-wrap: nowrap;
    }
    
    .planning .col{
        width: 50%;
    }

    .planning>.container>.col:last-child>img{
        width: 50%;
    }

    .planning>.container>.col:last-child{
        margin-top: 5rem;
    }

    .freccia{
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: calc(-50%);
    }
}

/*SECTION PARTNERS*/

.partners .items{
    text-align: center;
    background-color: #9592e5;
    color: white;
}

.partners .items:first-child{
    background: none;
    color: black;
}

.partners .carattere{
    font-size: 2rem;
}

.partners .name{
    letter-spacing: .1rem;
}

.partners h2{
    color: #9592e5;
}

.partners .items div{
    margin: 0 auto;
}

.partners img, .about-us img{/*-dim immagine tonda (condivisa)*/
    /*
    width: 200px;
    height: 200px;
    */
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (min-width:480px) {
    .partners .items:first-child{
        text-align: center;
    }

    .partners .items{
        text-align: left;
        flex-wrap: nowrap;
    }

    .partners .items div{
        margin: 0;
        align-self: center;
    }
}

/*SECTION BENEFITS*/

section.benefits{
    background-color: #9592e5;
}

.benefits i, .benefits h4{
    color: #9592e5;
}

.benefits i{
    font-size: 3rem;
}

.benefits h2{
    text-align: center;
    color: white;
}

.benefits .cells{
    background-color: white;
}

.benefits .botton{
    color: white;
    text-align: center;
    width: 40%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: .4rem 1rem;
}

@media screen and (min-width:480px) {
    .benefits>.container>.cells{
        width: calc((100%/2) - 1.5rem);/*ATTENZIONE AL GAP*/
    }
}

@media screen and (min-width:768px){
    .benefits>.container>.cells{
        width: calc((100%/3) - 1.5rem);/*ATTENZIONE AL GAP*/
    }
}

/*SECTION ABOUT US*/

.about-us h1{
    color: #9592e5;
}

.about-us .cells:first-child p{
    line-height: 2rem;
    padding: 1.5rem 0;
}

.about-us .cells:last-child{
    text-align: center;
}

.about-us .cells:last-child p{
    text-align: left;
}

.about-us .botton{
    background-color: #9592e5;
    color: white;
}

.about-us .cells:last-child>div{
    position: relative;
}

.about-us .carattere{
    position: absolute;
    right: 4rem;
    font-size: 4rem;
    color: #9592e5;
}

.about-us .cells:last-child p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #9592e5;
}

@media screen and (min-width:480px) {
    /*
    .about-us>.container{
        flex-direction: row;
    }
    */
    .about-us>.container>.items{
        width: calc((100% / 2) - 1.5rem);/*ATTENZIONE AL GAP*/
    }
}

/*SECTION FREE*/

section.free{
    text-align: center;
}



section.free{
    background-color: #9592e5;
}

@media screen and (min-width:480px) {
    .free .little-container{
    max-width: 20%;
    margin: 0 auto;
    }
}

/*footer*/

footer{
    background-color: #333333;
    text-align: center;
}

/*colori*/

.bg-white{
    background-color: white;
}

.bg-violet{
    background-color: #9592e5;
}

.bg-blue{
    background-color: #0084FD;
}

.blue{
    color: #0084FD;
}

.violet{
    color: #9592e5;
}

.white{
    color: white;
}

/*elementi da cancellare*/

.sfondo{
    background-color: red;
}

.a{
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 2px solid black;
}

.b{
    width: 100%;
    height: 500px;
    background-color: yellow;
    border: 2px dotted green;
}

.trat{
    border: 2px dotted green;
}
