*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

section{
    padding: 2.5rem 0;
}

.flex{
    display: flex;
}

.flex-bet{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

/*header*/

header{
    background-color: #0084fd;
    color: white;
}

nav>ul{
    padding: .8rem 0;
    align-items: center;
}

nav img{
    width: 78%;
}

@media screen and (min-width: 768px){
    header{
        background-color: blueviolet;
    }

    .container{
        width: 940px;
    }
}

div.container{
    gap: 1.5rem; /*----------------------ATTENZIONE AL GAP*/
}

/*SECTION APP STORE*/



.cells{
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 0 1rem;
    /*da cancellare sotto*/
    background-color: blue;
}

.app-store img{
    width: 70%;/*---------------------------dim immagine*/
}

i{
    font-size: 4rem;
}

.app-store .cells{
    text-align: center;
}

.app-store .cell-big>div:first-child{
    text-align: left;
}

@media screen and (min-width:480px) {
    .cells{
        width: calc(100%/3 - 1.5rem); /*ATTENZIONE AL GAP*/
    }

    .cell-big{
    width: calc( (100% / 3) * 2);
    }

    .app-store .cell-big > div:last-child{
        text-align: left;
    }
}

@media screen and (min-width:768px){
    .app-store .cells > div{
        width: calc(100%/2);
    }

    .app-store .cell-big > div:last-child{
        text-align: center;
    }
}

/*SECTION STRATEGIC PLANNING*/

.planning{
    background-color: #9592e5;
}

.items{
    width: 100%;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 2rem;
    /*da cancellare sotto*/
    background-color: yellow;
    border: 1px black solid;
}

.planning img{
    width: 100%;/*---------------------------dim immagine*/
}

.planning>.container>.items:last-child{
    text-align: center;
}

.planning>.container>.items:last-child>img{/*---dim immagine*/
    width: 70%;
}

.freccia{
    border-radius:50%;
    border: 1px solid black;
}

@media screen and (min-width:768px){
    .planning>.container>.items{
        width: calc((100% / 2) - 1.5rem); /*ATTENZIONE AL GAP*/
    }

    .planning>.container>.items:last-child{
        margin-top: 8rem;
        width: 40%;
    }
}

/*SECTION PARTNERS*/

.partners .items{
    text-align: center;
}

.partners .items div{
    margin: 0 auto;
}

.partners img, .about-us img{/*-dim immagine tonda (condivisa)*/
    /*
    width: 200px;
    height: 200px;
    */
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (min-width:480px) {
    .partners .items:first-child{
        text-align: center;
    }

    .partners .items{
        text-align: left;
        flex-wrap: nowrap;
    }

    .partners .items div{
        margin: 0;
        align-self: center;
    }
}

/*SECTION BENEFITS*/

section.benefits{
    background-color: #9592e5;
}

section.benefits h2{
    text-align: center;
}

@media screen and (min-width:480px) {
    .benefits>.container>.cells{
        width: calc((100%/2) - 1.5rem);/*ATTENZIONE AL GAP*/
    }
}

@media screen and (min-width:768px){
    .benefits>.container>.cells{
        width: calc((100%/3) - 1.5rem);/*ATTENZIONE AL GAP*/
    }
}

/*SECTION ABOUT US*/

.about-us .cells:last-child{
    text-align: center;
}

.about-us .cells:last-child p, .about-us .cells:last-child div{
    text-align: left;
}

@media screen and (min-width:480px) {
    /*
    .about-us>.container{
        flex-direction: row;
    }
    */
    .about-us>.container>.items{
        width: calc((100% / 2) - 1.5rem);/*ATTENZIONE AL GAP*/
    }
}

/*SECTION FREE*/

section.free{
    text-align: center;
}



section.free{
    background-color: #9592e5;
}

@media screen and (min-width:480px) {
    .free .little-container{
    max-width: 20%;
    margin: 0 auto;
    }
}

/*footer*/

footer{
    background-color: #333333;
}

/*elementi da cancellare*/

.sfondo{
    background-color: red;
}

.a{
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 2px solid black;
}

.b{
    width: 100%;
    height: 500px;
    background-color: yellow;
    border: 2px dotted green;
}

.trat{
    border: 2px dotted green;
}
