*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.flex{
    display: flex;
}

.flex-bet{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}

/*header*/

header{
    background-color: #0084fd;
}

@media screen and (min-width: 768px){
    header{
        background-color: blueviolet;
    }

    .container{
        width: 1000px;
    }
}

/*SECTION APP STORE*/

div.container{
    gap: 1.5rem; /*----------------------ATTENZIONE AL GAP*/
}

.cells{
    width: 100%;
    margin: 0 auto;
    border-radius: 2rem;

    /*da cancellare sotto*/
    background-color: blue;
    height: 300px;
}

@media screen and (min-width:480px) {
    
    .cells{
        width: calc(100%/3 - 1.5rem); /*ATTENZIONE AL GAP*/
    }

    .cell-big{
    width: calc( (100% / 3) * 2);
    }

    .app-store{
        background-color: aqua;
    }
}

/*SECTION STRATEGIC PLANNING*/

.planning{
    background-color: #9592e5;
}

.items{
    width: 100%;
    margin: 0 auto;
    border-radius: 5rem;

    /*da cancellare sotto*/
    background-color: yellow;
    height: 300px;
}

@media screen and (min-width:768px){
    .planning>.container>.items{
        width: calc((100% / 2) - 1.5rem); /*ATTENZIONE AL GAP*/
    }
}

/*elementi da cancellare*/

.sfondo{
    background-color: red;
}

.a{
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 2px solid black;
}

.b{
    width: 100%;
    height: 500px;
    background-color: yellow;
    border: 2px dotted green;
}
